.articles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.articlesTitle {
  color: #b39656;

  text-align: center;
  margin: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
}
